/* remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%; /* 2 */
}

:root {
  --default-font: 'Roboto', 'Helvetica Neue';
}

body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: var(--default-font), sans-serif;
  text-rendering: auto;
}

textarea,
select,
input,
button {
  outline: none;
  font-family: var(--default-font), sans-serif;
  border: 0;
  font-size: 100%;
}

button {
  cursor: pointer;
  background: none;
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: row;
}

.page-body {
  flex: auto;
  max-width: 550px;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-body-login {
  background-color: #fafafa;
  display: flex;
  flex: auto;
  justify-content: center;
}

.page-body-login > div {
  display: flex;
  flex: auto;
  max-width: 550px;
  min-width: 360px;
  flex-direction: column;
  justify-content: center;
}

.page-body-login > div .register-form {
  padding-top: '10px';
}

.page-body-login > div .login-form {
  padding-top: '10px';
}

.page-body-login .version {
  font-size: 0.8em;
  padding-bottom: 10px;
  display: block;
  position: absolute;
  bottom: 0;
}

.workspace {
  min-height: 400px;
  max-height: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

@media screen and (min-height: 800px) {
  .workspace {
    max-height: 800px;
  }
}

.workspace > .header {
  background-color: rgb(33, 150, 243);
  color: white;
  padding-left: 15px;
}

.workspace > .header > div {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
}

.workspace > .header > div button {
  padding: 10px;
}

.workspace > .header .name {
  flex-grow: 1;
  margin-left: 10px;
  font-size: 1.2em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.workspace > .body {
  flex: auto;
  flex-direction: column;
  display: flex;
}

.phone {
  flex: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.phone .overlay {
  position: absolute;
  height: 90%;
  background-color: white;
  overflow: hidden;
  width: 100%;
  z-index: 100;
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: bottom 0.7s cubic-bezier(0.14, 0.62, 0.44, 0.9);
  bottom: 0;
}

.phone .overlay-hidden {
  bottom: -800px;
}

.phone .overlay .header {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #eaeaea;
}

.phone .overlay .header span {
  font-size: 1.1em;
  color: #aaaaaa;
}

.phone .overlay .header .collapse-button {
  background-image: url(images/icon-collapse.svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  background-size: 75%;
  border: 0;
  position: absolute;
  right: 10px;
  top: 0;
  opacity: 0.4;
}

.phone .overlay .body {
  flex: 1;
  display: flex;
}

.phone .keypad {
  flex: auto;
  flex-grow: 6;
  display: flex;
}

.phone .keypad > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 0;
  grid-column-gap: 0;
  flex: auto;
}

.phone .keypad .digit-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.phone .keypad .digit-button:hover {
  background-color: #ececec;
}

.phone .keypad .digit-button .letter {
  color: rgba(0, 0, 0, 0.38);
  font-size: 0.7em;
}

.phone .keypad .digit-button .number {
  color: rgb(33, 150, 243);
  font-size: 2em;
  font-weight: 400;
}

.phone .keypad .digit-button .number-in-grey {
  color: rgba(0, 0, 0, 0.38);
  font-size: 2.2em;
}

.phone .idle .display {
  display: flex;
  flex-direction: row;
  flex: auto;
}

.phone .idle .display .phone-number-input {
  flex: auto;
  margin: 0px 10px 0px 35px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 2.2em;
  line-height: 1.5em;
  padding: 0;
  min-width: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.phone .idle .display .phone-number-input::placeholder {
  color: rgba(0, 0, 0, 0.1);
}

.phone .idle .display .remove-digit-button {
  background-image: url(images/icon-delete.svg);
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 60px;
  display: block;
  background-size: 40%;
  opacity: 0.7;
}

.phone .idle,
.phone .call,
.phone .incoming {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.phone .idle .invalid-phone-number {
  flex: none;
  display: hidden;
  background-color: rgb(244, 67, 54);
  color: white;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  font-size: 0.9em;
}

.phone .idle .start-call-button {
  background-color: #00c853;
  background-image: url(images/icon-call.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 26px;
  display: block;
  height: 15%;
  min-height: 70px;
  border-radius: 2px;
}

.phone .idle .start-call-button[disabled] {
  background-color: rgba(0, 0, 0, 0.2);
}

.phone .call .end-call-button {
  background-color: #e53935;
  background-size: auto 26px;
  display: block;
  height: 15%;
  position: relative;
  min-height: 70px;
  border-radius: 2px;
  overflow: hidden;
}

.phone .call .end-call-button[disabled] {
  background-color: rgba(0, 0, 0, 0.2);
}

.phone .call .end-call-button:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-image: url(images/icon-call.svg);
  background-position: center center;
  background-size: auto 26px;
  background-repeat: no-repeat;
  transform: rotate(135deg);
}

.phone .call .display {
  padding: 25px 20px;
}

.phone .call .display .duration {
  display: block;
  color: rgba(0, 0, 0, 0.38);
}

.phone .call .display .phone-number {
  color: black;
  font-size: 1.9em;
  line-height: 1.5em;
  opacity: 0.8;
}

.phone .call .blank {
  flex: auto;
  flex-grow: 6;
}

.phone .call .control {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  display: grid;
  padding: 15px;
}

.phone .call .control div {
  align-self: center;
  justify-self: center;
}

.phone .call .control button {
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.phone .call .control .mute-button {
  background-image: url(images/icon-microphone-on.svg);
  background-position: center center;
  background-size: auto 32px;
}

.phone .call .control .mute-button-disabled {
  background-image: url(images/icon-microphone-on.svg);
  background-position: center center;
  background-size: auto 32px;
  opacity: 0.2;
}

.phone .call .control .unmute-button {
  background-image: url(images/icon-microphone-off.svg);
  background-position: center center;
  background-size: auto 32px;
}

.phone .call .control .record-button-disabled {
  background-image: url(images/icon-record-off.svg);
  background-position: center center;
  background-size: auto 48px;
  opacity: 0.2;
}

.phone .call .control .record-button {
  background-image: url(images/icon-record-off.svg);
  background-position: center center;
  background-size: auto 48px;
}

.phone .call .control .record-pause-button {
  background-image: url(images/icon-record-on.svg);
  background-position: center center;
  background-size: auto 48px;
}

.phone .call .control .hold-button-disabled {
  background-image: url(images/icon-hold-on.svg);
  background-position: center center;
  background-size: auto 48px;
  opacity: 0.2;
}

.phone .call .control .hold-button {
  background-image: url(images/icon-hold-on.svg);
  background-position: center center;
  background-size: auto 48px;
}

.phone .call .control .unhold-button {
  background-image: url(images/icon-hold-off.svg);
  background-position: center center;
  background-size: auto 48px;
}

.phone .call .control .keypad-button {
  background-image: url(images/icon-keypad.svg);
  background-position: center center;
  background-size: auto 32px;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.phone .call .control .add-button-disabled {
  background-image: url(images/icon-add.svg);
  background-position: center center;
  background-size: auto 48px;
  opacity: 0.2;
}

.phone .call .control .add-button {
  background-image: url(images/icon-add.svg);
  background-position: center center;
  background-size: auto 48px;
  opacity: 0.5;
}

.phone .incoming .display {
  padding: 25px 20px;
}

.phone .incoming .display .duration {
  display: block;
  color: rgba(0, 0, 0, 0.38);
}

.phone .incoming .display .phone-number {
  color: black;
  font-size: 1.9em;
  line-height: 1.5em;
  opacity: 0.8;
}

.phone .incoming .blank {
  flex: auto;
  flex-grow: 6;
}

.phone .incoming .accept-call-button {
  background-color: #00c853;
  background-image: url(images/icon-call.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 26px;
  display: block;
  height: 15%;
  min-height: 70px;
  border-radius: 2px;
}

.phone .error,
.phone .expired,
.phone .connect {
  text-align: center;
  padding: 40px;
}

.phone .expired .status-text {
  font-weight: 200;
  margin-bottom: 10px;
}

.login {
  margin-top: 10px;
  flex: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login > div {
  padding-right: 10px;
}

.login button {
  padding-right: 10px;
}

@media (max-width: 800px) {
  .login {
    flex-direction: column;
  }

  .login > div {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .workspace > .header .user-status-toggle label > span:nth-child(2) {
    display: none;
  }

  .workspace > .header .user-status-toggle label {
    margin-right: 0;
  }
}

.connection-lost-alert-badge > div {
  border-radius: 0;
}

.connection-lost-alert-badge > div a {
  color: white;
}

.you-are-offline {
  text-align: center;
  padding: 20px;
}

.history {
  flex: auto;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  overflow: auto;
}

.history .item {
  border-bottom: 1px solid #dcdcdc;
  padding: 20px;
  cursor: pointer;
}

.history .item > div {
  display: flex;
  flex-direction: row;
}

.history .item:hover {
  background-color: #dcdcdc;
}

.history .item .detail {
  padding-left: 15px;
}

.history .item .detail .status-text {
  font-weight: 200;
}

.history .item .detail .duration {
  font-weight: 200;
  line-height: 1.8em;
}

.history .item .status {
  padding-top: 4px;
}

.history .item .status .completed {
  background-color: #00c853;
  border-radius: 8px;
  width: 16px;
  height: 16px;
}

.history .item .status > div {
  background-color: #e53935;
  border-radius: 8px;
  width: 16px;
  height: 16px;
}

.configuration {
  background-color: #f7f7f7;
  flex: auto;
  padding: 10px;
  overflow: auto;
}

.configuration .phone-number-configuration-panel {
  margin-bottom: 10px;
  margin-top: 10px;
}

.configuration .phone-number-configuration-panel {
  margin-bottom: 10px;
  margin-top: 10px;
}

.configuration .inbound-canvas,
.outbound-canvas {
  background-color: #f7f7f7;
  margin-bottom: 5px;
  padding: 5px 10px 5px 35px;
}

.configuration .outbound-title {
  margin-top: 0px;
}

.configuration .phone-number-configuration-panel {
  margin-bottom: 10px;
  margin-top: 10px;
}

.audio-devices {
  background-color: #f7f7f7;
  flex: auto;
  padding: 10px;
}

.load-indicator {
  padding: 10px;
  justify-content: center;
  display: flex;
}

.connect {
  padding: 10px;
  justify-content: center;
  display: flex;
}

.users {
  flex: auto;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  overflow: auto;
  position: relative;
}

.users .item {
  border-bottom: 1px solid #dcdcdc;
  padding: 20px;
  cursor: pointer;
}

.users .item > div {
  display: flex;
  flex-direction: row;
}

.users .item .detail {
  padding-left: 15px;
}

.users .item .detail .status {
  font-weight: 200;
  line-height: 1.8em;
}

.users .create-user-button {
  position: sticky;
  bottom: 10px;
  right: 10px;
}

.users .create-user-button button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
